pkgbase = streamtuner2
	pkgdesc = An internet radio browser
	pkgver = 2.2.1
	pkgrel = 1
	url = http://sourceforge.net/projects/streamtuner2
	arch = any
	license = custom
	makedepends = libarchive
	depends = python2
	depends = pygtk
	depends = python2-xdg
	depends = python2-pillow
	depends = python2-keybinder2
	depends = python2-lxml
	depends = python2-cssselect
	depends = python2-pyquery
	depends = python2-requests
	source = http://milki.include-once.org/streamtuner2/streamtuner2-2.2.1.bin.txz
	md5sums = fa56c1f8a78c9a63b7bbb99175f85d4e

pkgname = streamtuner2

